@page "/testpage"

<h3>TestPage</h3>

<ParentComponent AlertText="@_userInput" />

<p>@_userInput</p>
<input type="text" @bind="_userInput" @bind:event="oninput" />

@code {
    private string _userInput;
}
