@inherits MessageCode

<div class="card mb-3">
    <h4 class="card-header">@SomeText</h4>
    <div class="card-body">
        <button @onclick="SendMessage" class="btn btn-primary mr-2">Send Message</button>
        <button @onclick="ClearMessages" class="btn btn-secondary">Clear Messages</button>
    </div>
</div>
