@inherits PostRequestCode

<div class="card text-center m-3">
    <h5 class="card-header">POST Request with Error Handling</h5>
    <div class="card-body">
        Error: @ResponseErrorMessage
        Data: @Response?.Title
    </div>
</div>
