@inherits Masny.Blazor.ServerSide.Base.ChildComponentBase

<div class="alert alert-info">@ChildContent</div>

<div class="alert alert-@AlertTheme">
    @IsDarkTheme.ToString()
    <input type="checkbox" @bind="IsDarkTheme" />
</div>

<div class="alert alert-danger">@RandomService.RandomGuid</div>
