<AuthorizeView>
    <Authorized>
        <a href="identity/account/manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="identity/account/logout">
            <button type="submit" class="nav-link btn btn-link">LogOut</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="identity/account/register">Register</a>
        <a href="identity/account/login">Login</a>
    </NotAuthorized>
</AuthorizeView>
