<Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[]{"1"})>
    <NavLink href="" Match="NavLinkMatch.All">
        <MenuItem Key="1">
            <Icon Type="user" Theme="outline" />
            <span>Home</span>
        </MenuItem>
    </NavLink>
    <NavLink href="counter">
        <MenuItem Key="2">
            <Icon Type="video-camera" Theme="outline" />
            <span>Counter</span>
        </MenuItem>
    </NavLink>
    <NavLink href="fetchdata">
        <MenuItem Key="3">
            <Icon Type="upload" Theme="outline" />
            <span>Fetch data</span>
        </MenuItem>
    </NavLink>
</Menu>
